<div class="jumbotron">
    <h1>Who's the Database Admin Now!</h1>
    <p class="lead">Get My Database lets you do cool things in your databases, without the boring scripts.</p>
    <p>@Html.ActionLink("Get Started", "Index", "Start", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
