@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Who's the Admin Now!</h1>
    <p class="lead">Get My Database lets you do cool things in your databases, without the boring scripts.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-12 text-center">
        <h2>Getting started</h2>
        <p>
            Go ahead, see what all can you do with GMD aka Get My Database.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>*@